<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.Nidec.Mes.SAPConnector_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Com.Nidec.Mes.SAPConnector_Client.Properties.Settings>
            <setting name="RFC_MANUFACTURING_ORDER" serializeAs="String">
                <value>Z_GTPPFG1201_MO_OUT</value>
            </setting>
            <setting name="RFC_DELIVERY_ORDER" serializeAs="String">
                <value>Z_GTSDFG7301_DELIVERY_RFC</value>
            </setting>
            <setting name="RFC_PICKING_LIST" serializeAs="String">
                <value>Z_GTSDFG7401_SCAN_DELIVERY</value>
            </setting>
            <setting name="RFC_STOCK" serializeAs="String">
                <value>Z_GTPPFG0102_STOCK_OUT</value>
            </setting>
            <setting name="RFC_MATERIAL" serializeAs="String">
                <value>Z_GTPPFG0101_MATERIAL_OUT</value>
            </setting>
            <setting name="RFC_MANUFACTURING_ORDER_CONFIRMATION" serializeAs="String">
                <value>Z_GTPPFG1101_MO_CONF_TRANS</value>
            </setting>
        </Com.Nidec.Mes.SAPConnector_Client.Properties.Settings>
    </userSettings>
</configuration>