<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.Nidec.Mes.Framework_Batch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Com.Nidec.Mes.Framework_Batch.Properties.Settings>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_BATCH_EXECUTION_SUCCESS"
                serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_EXECUTION_COMPLETE_EXCEPTION"
                serializeAs="String">
                <value>305</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_MULTIPLE_INVOKE_RETRY_THREAD_WAIT_EXCEPTION"
                serializeAs="String">
                <value>402</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_EXECUTION_THREAD_WAIT_EXCEPTION"
                serializeAs="String">
                <value>304</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_RETRY_EXECUTION_ON_EXCEPTION_THREAD_WAIT_EXCEPTION"
                serializeAs="String">
                <value>501</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_RETRY_EXECUTION_ON_EXCEPTION_REACHED_MAX_COUNT"
                serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_BATCH_MAIN_INSTANCE_NOT_AVAILABLE"
                serializeAs="String">
                <value>302</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_MULTIPLE_INVOKE_EXCEPTION"
                serializeAs="String">
                <value>401</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_MULTIPLE_INVOKE_RETRY_REACHED_MAX_COUNT"
                serializeAs="String">
                <value>403</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_EXECUTION_EXCEPTION_NO_RETRY"
                serializeAs="String">
                <value>303</value>
            </setting>
            <setting name="SCHED_RETURN_IN_EXCEPTION_HANDLER_UNEXPECTED_EXCEPTION"
                serializeAs="String">
                <value>205</value>
            </setting>
            <setting name="SCHED_RETURN_IN_EXCEPTION_HANDLER_APPLICATION_EXCEPTION"
                serializeAs="String">
                <value>201</value>
            </setting>
            <setting name="SCHED_RETURN_IN_EXCEPTION_HANDLER_SYSTEM_EXCEPTION"
                serializeAs="String">
                <value>202</value>
            </setting>
            <setting name="SCHED_RETURN_IN_EXCEPTION_HANDLER_EXCEPTION" serializeAs="String">
                <value>203</value>
            </setting>
            <setting name="SCHED_RETURN_IN_EXCEPTION_HANDLER_EXCEPTION_IN_EXIT_APPLICATION"
                serializeAs="String">
                <value>204</value>
            </setting>
            <setting name="SCHED_RETURN_IN_EXCEPTION_HANDLER_EXCEPTION_IN_ABNORMAL_EXIT"
                serializeAs="String">
                <value>206</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_EXCEPTION_IN_EXIT_APPLICATION"
                serializeAs="String">
                <value>301</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_MULTIPLE_INVOKE_EXCEPTION_NO_RETRY"
                serializeAs="String">
                <value>404</value>
            </setting>
            <setting name="SCHED_RETURN_IN_APPLICATION_INITIALIZER_SYSTEM_EXCEPTION"
                serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="SCHED_RETURN_IN_APPLICATION_INITIALIZER_UNHANDLED_EXCEPTION"
                serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_MULTIPLE_INVOKE_DATA_NOT_FOUND"
                serializeAs="String">
                <value>405</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_EXECUTION_COMPLETE_AFTER_STOP_REQUEST"
                serializeAs="String">
                <value>306</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_EXECUTION_COMPLETE_AFTER_STOP_REQUEST_EXCEPTION"
                serializeAs="String">
                <value>307</value>
            </setting>
            <setting name="SCHED_RETURN_IN_BATCH_CONTROLLER_EXECUTION_COMPLETE_AFTER_STOP_REQUEST_DATA_NOT_FOUND"
                serializeAs="String">
                <value>308</value>
            </setting>
        </Com.Nidec.Mes.Framework_Batch.Properties.Settings>
    </userSettings>
</configuration>