<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.Nidec.Mes.PQMConnector_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Com.Nidec.Mes.PQMConnector_Client.Properties.Settings>
            <setting name="SAMPLE_SERVICE_MODEL" serializeAs="String">
                <value>http://10.64.43.49/pqmv4/api/process?model=master</value>
            </setting>
        </Com.Nidec.Mes.PQMConnector_Client.Properties.Settings>
    </userSettings>
</configuration>